body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eaf4ee;
}

/* main растягивается */
main {
  flex: 1;
  display: flex;
  justify-content: center; /* по горизонтали */
  align-items: center; /* по вертикали */
  width: 100%;
}

/* сообщение */
.success-container {
  background-color: #ffffff;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 90%;
  text-align: center;
}

.success-container h1 {
  color: #2e7d32;
  margin-bottom: 1rem;
}

.success-container p {
  color: #555;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  background-color: #6c7d75;
  color: #fff;
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #4e5f58;
}
